@import "/node_modules/modern-normalize/modern-normalize.css";

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #f03f3b;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* margin: 0 auto;
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh; */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
p,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}

/** ===================== FONTS ==================== **/

@font-face {
  font-family: "HelveticaNeue-400";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/HelveticaNeue_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-500";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/HelveticaNeue-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue-700";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/HelveticaNeue-Bold.ttf") format("truetype");
}
